<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="なろうReader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <なろうReader.My.MySettings>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="MyClientSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoRead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoNext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="myFont" serializeAs="String">
                <value>MS UI Gothic, 12pt</value>
            </setting>
            <setting name="bouyomiPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="readMaegaki" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readAtogaki" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readSubTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="jtalk_a" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="jtalk_fm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="jtalk_jm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="jtalk_jf" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="jtalk_r" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="useBouyomi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jtalk_voice" serializeAs="String">
                <value>mei_normal</value>
            </setting>
            <setting name="jtalk_opt" serializeAs="String">
                <value>-x open_jtalk_dic_shift_jis-1.08  -z 2048000</value>
            </setting>
            <setting name="jTalk_g" serializeAs="String">
                <value>-10</value>
            </setting>
        </なろうReader.My.MySettings>
    </userSettings>
</configuration>